# Tạo file .env và điền giá trị thật
NODE_ENV=development
PORT=4000

# Generate JWT_SECRET bằng:
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=
JWT_EXPIRES=8h

# Mac dev: http://localhost:5173
# Production: https://your-domain.com
CLIENT_URL=http://localhost:5173

# MongoDB connection
MONGO_URI=mongodb://localhost:27017/palm_pms